<!DOCTYPE html>

<html>
    <head>
        <title>Szukacz Sprawdzacz</title>    
    </head>

    <body>
        <h3>Wyniki</h3>            
       
        <p><b>Szukana fraza:</b> <%= phrase %></p>
     <ul>
       <% results.forEach(function(elem) { %>
       
      <li><%= elem %></li>                 
      
      <% }); %>
    </ul>
     
      <script>

 window.addEventListener('load', function() {   
        
    var d =   document.getElementsByTagName('li');
        Array.from(d).forEach(function(e){
        
        var c = e.innerHTML;
        
            if (c.indexOf('&gt;&gt;&gt;&gt;&gt;&gt') !== -1) {
                 e.style.color = 'red';            
            }
       
        })    
        
    
                  
                             
    

});     
        
    </script>
     
    </body>
   
</html>