<!DOCTYPE html>

<html>
    <head>
        <title>Szukacz Sprawdzacz</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h3>Szukamy</h3>         
        
        <p> Gdzie i co?</p>
        <form action="/scrap/result" method="post">
            <p>
               
                <!--<p><input type="text" name="url" id="url" placeholder="url" /></p> -->
                <textarea name="lista" rows="20" cols="200"></textarea>
                <p><input type="text" name="phrase" id="phrase" placeholder="fraza"/></p> 
                <input type="submit" />
            </p>
            
        </form>
    </body>
</html>